<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Project created, <%= @project.name %></h1>
    <p>
    Your project has been created with id <%= @project.id %>
    </p>
  </body>
</html>